body {
  margin: 0;
  background-repeat:no-repeat;
  background-color: #005EB8;
  font-family: 'Lora', serif; 
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

#container {
	background-color: #18181E;
	height: auto; 
  width: 100%;
 	background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#container img {
	margin: 0;
	width: 100%;
}

.topnav {
  overflow: hidden;
  background-color: #444455;
  opacity: 1;
  width: 100%;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:#dec79b;;
  color: black;
}

.topnav a.active {
  background-color: #dec79b;
  color: white;
}

.topnav-right {
  float: right;
  padding-right:50px;
}

#container #centered-name {
  font-size: 5rem; 
  color: #dec79b;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

#container #centered-tagline {
  font-size: 3rem; 
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

#container #centered-uni {
  font-size: 2rem; 
  color: white; 
  font-family: 'Montserrat', sans-serif;
 font-weight: 300;
 text-transform: uppercase;
}

/*#container #personal-image{
  position: absolute;
  top: 10%;
  left: %;
  transform: translate(10%, 1%);
  display: block;
    
}*/

#section-about {
	background-color: #18181E; /*#f7f5e6;*/
	width: 100%;
	height: auto;
	font-family: 'Lora', serif;
}

#section-interests {
	position: relative;
	background-color: #18181E; /*#f7f5e6;*/
	width: 100%;
	height: auto;
	font-family: 'Lora', serif;
	padding:2%;
}

#section-about #container-about {
	font-size: 2rem; 
  color: white; /*#DEC79B; /*#333a56;*/
  padding: 2%; 
  font-family: 'Lora', serif;
}

#section-about #header {
	font-size: 30px; 
	color: #DEC79B; /*#333a56;*/
	padding-top:2%;
	padding-left: 4%;
	font-family: 'Montserrat', sans-serif;
 	font-weight: 300;
 	text-transform: uppercase;
}

#section-interests #interests-text {
	font-size: 30px; 
	color: #DEC79B; /*#333a56;*/
	padding-top:2%;
	font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

#section-interests #container-interests {
	/*font-size: 15px; */
	color: white; /*#DEC79B; /*#333a56;*/
	font-family: 'Lora', serif;
}

#section-timeline {
	background-color: #18181E; 
	width: 100%;
	height: auto;
  padding-top:2%;
}

#section-timeline .timeline-header {
	padding:2%;
	font-size: 30px; 
	color: white;
}

#section-timeline #personal-project-list {
	padding-left: 10%;
}

#section-timeline .timeline-element {
	font-size: 15px; 
	color: white; 
}

#section-timeline .experience-container {
  background-color: #18181E; 
  color: white;
  border-width: medium; 
  padding: 0.5em;
  width: 100%; 
}

#section-timeline .position-title{
  color: #DEC79B; 
  font-weight: 100;
  font-size: 1.5em;
}

#section-timeline .row-header {
  color:#DEC79B;
}

#section-timeline .project-description {
	font-size: 1.5rem; 
	color:white;
	width:100%;
}

#section-timeline .skills-text {
	font-size: 15px;
	color:white;
	padding:2%;
}

#section-header {
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem;
 	font-weight: 300;
 	text-transform: uppercase;
}

#section-header-skills {
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}
#section-footer {
  font-family: 'Montserrat', sans-serif;
	background-color:  #393947;
	width: 100%;
	height: auto;
	color:white;
	padding:2%;
}

#section-footer .footer-icon {
	font-size:3.4rem; 
	color:white;
}

#section-footer .footer-icon:hover {
	color:#DEC79B;
}

#section-footer .footer-text {
	font-size: 2rem; 
	color: white;
}



#container #personal-container {
  width: auto;
  height: auto;
  position: absolute;
  top: 29%;
  left: 5%;
  transform: translate(1%, -3%);
  color: white; 
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
    #container #personal-container {
      top:13%;
      left:5%;
    }
    #container #centered-name {
      font-size: 7rem;
    }
    #container #centered-tagline {
      font-size: 4rem;
    }
    #container #centered-uni {
      font-size: 4rem; 
    }
}

@media only screen and (max-width: 812px) {
    #container #personal-container {
      top:13%;
      left:5%;
    }
    #container #centered-name {
      font-size: 5rem; 
    }
    #container #centered-tagline {
      font-size: 2rem;
    }
    #container #centered-uni {
      font-size: 2rem; 
    }
}
@media only screen and (max-width: 600px) {
    #container #personal-container {
      top:15%;
      left:5%;
    }
    #container #centered-name {
      font-size: 2rem; 
    }
    #container #centered-tagline {
      font-size: 2rem;
    }
    #container #centered-uni {
      font-size: 2rem; 
    }
}





